// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.tasks {
	//border-bottom: solid 1px #CCC;
	padding: 5px 0;
}
.tasks p {
	margin: 4px 0;
}
.tasks .admin {
	display: none;
}
.tasks.hover .admin {
	display: inline;
}
.tasks.hover {
	background: #FAFAFA
}